Repository chaojiget/superflow, changes with the owners that .github/CODEOWNERS names for each.
All owners: @tech-lead, @senior-architect, @devops-team, @qa-team, @documentation-team, @ideas-team, @product-manager, @planner-team, @algorithm-engineer, @flow-team, @frontend-engineer, @ux-designer, @nodes-team, @backend-engineer, @run-center-team, @devops-engineer, @monitoring-team, @shared-team, @type-system-expert, @database-engineer, @performance-engineer, @test-engineer, @integration-team, @e2e-team, @tech-writer, @build-team, @security-team, @runtime-team

.github/CODEOWNERS:

# CODEOWNERS 文件定义了每个模块的代码所有者
# 当 PR 修改这些路径时，相应的团队成员将自动被请求进行代码审查

# 全局所有者（架构和核心决策）
* @tech-lead @senior-architect

# 根目录配置文件
/.github/ @tech-lead @devops-team
/package.json @tech-lead
/tsconfig*.json @tech-lead
/vite.config.ts @tech-lead
/vitest*.config.ts @tech-lead @qa-team
/CLAUDE.md @tech-lead @documentation-team

# 想法模块 (Ideas) - 负责需求分析和蓝图生成
/src/ideas/ @ideas-team @product-manager
/docs/flow-component.md @ideas-team @documentation-team

# 规划模块 (Planner) - 负责DAG规划和拓扑排序
/src/planner/ @planner-team @algorithm-engineer
/docs/ci-cd.md @planner-team @devops-team

# 流程模块 (Flow) - 负责React Flow集成和可视化
/src/flow/ @flow-team @frontend-engineer @ux-designer

# 节点模块 (Nodes) - 负责节点定义和调试
/src/nodes/ @nodes-team @backend-engineer
/docs/node-page.md @nodes-team @documentation-team

# 运行中心 (Run Center) - 负责执行和监控
/src/run-center/ @run-center-team @devops-engineer @monitoring-team

# 共享模块 (Shared) - 负责通用工具和类型
/src/shared/ @shared-team @tech-lead
/src/shared/types/ @shared-team @type-system-expert
/src/shared/db/ @shared-team @database-engineer
/src/shared/runtime/ @shared-team @performance-engineer

# 测试相关
/src/test/ @qa-team @test-engineer
/src/**/*.test.ts @qa-team
/src/**/*.integration.test.ts @qa-team @integration-team
/src/**/*.e2e.test.ts @qa-team @e2e-team

# 文档
/docs/ @documentation-team @tech-writer
/README.md @documentation-team @tech-lead

# 构建和部署
/vite.config.ts @build-team @frontend-engineer
/package-lock.json @build-team

# 安全敏感文件
/.github/workflows/ @security-team @devops-team
/src/shared/runtime/worker.ts @security-team @runtime-team

feat: replace studio page
  AGENTS.md
  docs/adr/0003-重构.md
  docs/工作流编排_studio（模拟页面）.jsx
  scripts/projects/bodies/epic-migration.md
  scripts/projects/bodies/feature-console-unify.md
  scripts/projects/bodies/feature-inspector-migration-launch.md
  src/App.tsx
  src/studio/StudioPage.tsx
  src/studio/StudioPageSimple.tsx
Owners: @tech-lead, @senior-architect, @documentation-team, @tech-writer

fix: 修复测试文件的TypeScript类型错误
  src/__tests__/App.test.tsx
  tsconfig.json
Owners: @tech-lead, @senior-architect

fix: 修复代码质量问题
  packages/@app/services/src/RunCenterService.ts
  packages/@app/services/src/commands/startRun.ts
  packages/@core/observability/src/logger.ts
Owners: @tech-lead, @senior-architect

feat(studio): 抽离状态徽章组件并补充测试
  src/studio/StudioPage.tsx
  src/studio/components/StatusBadge.tsx
  src/studio/components/__tests__/StatusBadge.test.tsx
Owners: @tech-lead, @senior-architect

feat: add field guide navigation events
  src/studio/StudioPage.tsx
Owners: @tech-lead, @senior-architect

feat: 为测试面板添加重新运行按钮
  src/studio/StudioPage.tsx
Owners: @tech-lead, @senior-architect

feat: add header actions
  src/studio/StudioPage.tsx
Owners: @tech-lead, @senior-architect

feat: 将工作流编排 Studio 模拟页面设置为首页
  package-lock.json
  package.json
  postcss.config.js
  src/App.tsx
  src/WorkflowStudio.tsx
  src/shims/lucide-react.tsx
  src/studio/StudioPage.tsx
  src/styles/global.css
  tailwind.config.js
  vite.config.ts
Owners: @build-team, @tech-lead, @senior-architect, @frontend-engineer

feat: 将 WorkflowStudio 集成到首页 tab 导航系统
  src/App.tsx
  src/components/nodes/src/BlueprintNode.tsx
  src/components/ui/tabs.tsx
  src/studio/StudioPage.tsx
Owners: @tech-lead, @senior-architect

fix: 修复 TypeScript 类型错误，确保 CI 通过
  postcss.config.js
  src/WorkflowStudio.tsx
  src/studio/WorkflowStudio.tsx
Owners: @tech-lead, @senior-architect

fix: 修复代码质量问题和更新测试快照
  src/WorkflowStudio.tsx
  src/__tests__/__snapshots__/App.test.tsx.snap
  src/studio/WorkflowStudio.tsx
Owners: @tech-lead, @senior-architect

fix: 修复未使用参数的代码质量警告
  src/studio/WorkflowStudio.tsx
Owners: @tech-lead, @senior-architect

fix: 修复 packages/@core 中的代码质量问题
  packages/@core/runtime/__tests__/executor.test.ts
  packages/@core/runtime/index.ts
  packages/@core/src/__tests__/serialization.test.ts
Owners: @tech-lead, @senior-architect

fix: 修复 TypeScript 类型错误
  packages/@core/runtime/__tests__/executor.test.ts
  packages/@core/src/__tests__/serialization.test.ts
Owners: @tech-lead, @senior-architect

更新前端组件和测试文件
  src/App.tsx
  src/__tests__/App.test.tsx
  src/__tests__/__snapshots__/App.test.tsx.snap
  src/components/nodes/src/BlueprintNode.tsx
  src/ideas/src/IdeasPage.tsx
  src/run-center/RunCenterPage.tsx
  src/studio/StudioPage.tsx
  src/studio/WorkflowStudio.tsx
  src/studio/components/StatusBadge.tsx
Owners: @tech-lead, @senior-architect, @ideas-team, @product-manager, @run-center-team, @devops-engineer, @monitoring-team

feat: 添加工作流项目切换下拉菜单功能
  src/App.tsx
  src/components/ui/badge.tsx
  src/studio/StudioPage.tsx
  src/studio/WorkflowStudio.tsx
Owners: @tech-lead, @senior-architect

fix: 优化 BlueprintNode 和 Tabs 组件
  src/components/nodes/src/BlueprintNode.tsx
  src/components/ui/tabs.tsx
Owners: @tech-lead, @senior-architect
