Repository chaojiget/superflow, changes with the owners that .github/CODEOWNERS names for each.
All owners: @tech-lead, @senior-architect, @devops-team, @qa-team, @documentation-team, @ideas-team, @product-manager, @planner-team, @algorithm-engineer, @flow-team, @frontend-engineer, @ux-designer, @nodes-team, @backend-engineer, @run-center-team, @devops-engineer, @monitoring-team, @shared-team, @type-system-expert, @database-engineer, @performance-engineer, @test-engineer, @integration-team, @e2e-team, @tech-writer, @build-team, @security-team, @runtime-team

.github/CODEOWNERS:

# CODEOWNERS 文件定义了每个模块的代码所有者
# 当 PR 修改这些路径时，相应的团队成员将自动被请求进行代码审查

# 全局所有者（架构和核心决策）
* @tech-lead @senior-architect

# 根目录配置文件
/.github/ @tech-lead @devops-team
/package.json @tech-lead
/tsconfig*.json @tech-lead
/vite.config.ts @tech-lead
/vitest*.config.ts @tech-lead @qa-team
/CLAUDE.md @tech-lead @documentation-team

# 想法模块 (Ideas) - 负责需求分析和蓝图生成
/src/ideas/ @ideas-team @product-manager
/docs/flow-component.md @ideas-team @documentation-team

# 规划模块 (Planner) - 负责DAG规划和拓扑排序
/src/planner/ @planner-team @algorithm-engineer
/docs/ci-cd.md @planner-team @devops-team

# 流程模块 (Flow) - 负责React Flow集成和可视化
/src/flow/ @flow-team @frontend-engineer @ux-designer

# 节点模块 (Nodes) - 负责节点定义和调试
/src/nodes/ @nodes-team @backend-engineer
/docs/node-page.md @nodes-team @documentation-team

# 运行中心 (Run Center) - 负责执行和监控
/src/run-center/ @run-center-team @devops-engineer @monitoring-team

# 共享模块 (Shared) - 负责通用工具和类型
/src/shared/ @shared-team @tech-lead
/src/shared/types/ @shared-team @type-system-expert
/src/shared/db/ @shared-team @database-engineer
/src/shared/runtime/ @shared-team @performance-engineer

# 测试相关
/src/test/ @qa-team @test-engineer
/src/**/*.test.ts @qa-team
/src/**/*.integration.test.ts @qa-team @integration-team
/src/**/*.e2e.test.ts @qa-team @e2e-team

# 文档
/docs/ @documentation-team @tech-writer
/README.md @documentation-team @tech-lead

# 构建和部署
/vite.config.ts @build-team @frontend-engineer
/package-lock.json @build-team

# 安全敏感文件
/.github/workflows/ @security-team @devops-team
/src/shared/runtime/worker.ts @security-team @runtime-team

feat: 完善共享类型与序列化测试
  src/shared/types/__tests__/serialization.test.ts
  src/shared/types/error.ts
  src/shared/types/runtime.ts
  src/shared/types/storage.ts
Owners: @qa-team, @shared-team, @type-system-expert

feat: 建立完整的团队协作基础设施
  .github/ISSUE_TEMPLATE/bug-report.yml
  .github/ISSUE_TEMPLATE/feature-task.yml
  .github/pull_request_template.md
  .github/workflows/ci.yml
  AGENTAS.md
  TEAM_WORKFLOW.md
  docs/API_CONTRACTS.md
  scripts/issues/T1.1-type-system.md
  scripts/issues/T1.2-worker-runtime.md
  scripts/issues/T1.3-storage-layer.md
  scripts/quick-start.sh
  scripts/setup-project.sh
Owners: @tech-lead, @devops-team, @security-team, @senior-architect, @documentation-team, @tech-writer

docs: 全面更新 CLAUDE.md 指导文档
  AGENTAS.md
  CLAUDE.md
Owners: @tech-lead, @senior-architect, @documentation-team

docs: 优化 AGENTAS.md 格式
  AGENTAS.md
Owners: @tech-lead, @senior-architect

fix: 修复 CI 失败问题并完善项目基础设施
  AGENTAS.md
  eslint.config.js
  package-lock.json
  package.json
  src/flow/FlowCanvas.ts
  src/flow/__tests__/module.test.ts
  src/flow/renderFlow.tsx
  src/flow/types.ts
  src/ideas/IdeasPage.tsx
  src/ideas/generateBlueprint.ts
  src/ideas/types.ts
  src/nodes/NodePage.tsx
  src/nodes/types.ts
  src/planner/blueprintToDag.ts
  src/planner/types.ts
  src/run-center/RunCenter.tsx
  src/run-center/types.ts
  src/shared/db/index.ts
  src/shared/runtime/index.ts
  src/shared/runtime/worker.ts
  src/shared/types/error.ts
  src/shared/types/index.ts
  src/shared/types/storage.ts
  src/shared/utils/index.ts
  src/test/helpers/test-app.ts
  src/test/helpers/test-server.ts
  src/test/helpers/test-storage.ts
  src/utils/index.ts
  src/utils/logger.ts
  src/utils/math.ts
  src/utils/uuid.ts
Owners: @tech-lead, @senior-architect, @build-team, @flow-team, @frontend-engineer, @ux-designer, @qa-team, @ideas-team, @product-manager, @nodes-team, @backend-engineer, @planner-team, @algorithm-engineer, @run-center-team, @devops-engineer, @monitoring-team, @shared-team, @database-engineer, @performance-engineer, @security-team, @runtime-team, @type-system-expert, @test-engineer

⏺ 总结修复成果
  src/flow/FlowCanvas.ts
  src/ideas/types.ts
  src/nodes/NodePage.tsx
  src/nodes/__tests__/module.test.ts
  src/run-center/__tests__/module.test.ts
  src/shared/__tests__/module.test.ts
Owners: @flow-team, @frontend-engineer, @ux-designer, @ideas-team, @product-manager, @nodes-team, @backend-engineer, @qa-team

太好了！我已经修复了所有主要的测试错误：
  src/flow/FlowCanvas.ts
  src/nodes/NodePage.tsx
  src/test/helpers/test-app.ts
  src/test/helpers/test-flow.ts
  src/test/helpers/test-server.ts
Owners: @flow-team, @frontend-engineer, @ux-designer, @nodes-team, @backend-engineer, @qa-team, @test-engineer

fix: 修复所有 CI 失败问题
  src/flow/FlowCanvas.ts
  src/nodes/NodePage.tsx
  src/nodes/__tests__/module.test.ts
  src/planner/blueprintToDag.ts
  src/run-center/RunCenterService.ts
  src/run-center/index.ts
  src/run-center/types.ts
  src/test/integration/flow-integration.test.ts
Owners: @flow-team, @frontend-engineer, @ux-designer, @nodes-team, @backend-engineer, @qa-team, @planner-team, @algorithm-engineer, @run-center-team, @devops-engineer, @monitoring-team

fix: 修复CI中剩余的TypeScript和测试错误
  src/flow/FlowCanvas.ts
  src/nodes/NodePage.tsx
  src/planner/blueprintToDag.ts
  src/planner/types.ts
  src/run-center/RunCenter.tsx
Owners: @flow-team, @frontend-engineer, @ux-designer, @nodes-team, @backend-engineer, @planner-team, @algorithm-engineer, @run-center-team, @devops-engineer, @monitoring-team

fix: 修复CI中关键的TypeScript类型错误
  src/flow/FlowCanvas.ts
  src/nodes/NodePage.tsx
  src/run-center/index.ts
  src/run-center/types.ts
  src/test/integration/flow-integration.test.ts
Owners: @flow-team, @frontend-engineer, @ux-designer, @nodes-team, @backend-engineer, @run-center-team, @devops-engineer, @monitoring-team, @qa-team

fix: 修复 CI 失败问题 - 系统性修复类型错误和代码规范问题
  eslint.config.js
  src/flow/FlowCanvas.ts
  src/flow/types.ts
  src/nodes/types.ts
  src/run-center/RunCenter.tsx
  src/run-center/types.ts
  src/test/helpers/test-storage.ts
  vitest.config.ts
Owners: @tech-lead, @senior-architect, @flow-team, @frontend-engineer, @ux-designer, @nodes-team, @backend-engineer, @run-center-team, @devops-engineer, @monitoring-team, @qa-team, @test-engineer

fix: 修复关键类型错误和 Worker 测试问题
  src/flow/FlowCanvas.ts
  src/run-center/RunCenter.tsx
  src/shared/__tests__/module.test.ts
  src/shared/db/index.ts
  src/shared/index.ts
Owners: @flow-team, @frontend-engineer, @ux-designer, @run-center-team, @devops-engineer, @monitoring-team, @qa-team, @shared-team, @database-engineer, @tech-lead

fix: 继续修复 CI 错误 - 解决测试环境和类型问题
  src/run-center/__tests__/module.test.ts
  src/shared/__tests__/module.test.ts
  src/shared/db/index.ts
  src/shared/index.ts
  src/shared/runtime/index.ts
  src/shared/runtime/worker.ts
  src/shared/types/error.ts
  src/shared/types/flow.ts
  src/shared/types/node.ts
  src/test/setup.ts
Owners: @qa-team, @shared-team, @database-engineer, @tech-lead, @performance-engineer, @security-team, @runtime-team, @type-system-expert, @test-engineer

fix: 完成 CI 错误修复 - 项目现在可以成功构建和运行
  package.json
  src/test/helpers/test-app.ts
  src/test/helpers/test-server.ts
  src/test/helpers/test-storage.ts
  src/utils/logger.ts
  src/utils/math.ts
  src/utils/uuid.ts
  tsconfig.build.json
Owners: @tech-lead, @qa-team, @test-engineer, @senior-architect

fix: 🎉 彻底解决所有 CI 错误 - 完全胜利！
  src/run-center/RunCenter.tsx
  src/test/e2e/user-workflow.e2e.test.ts
  src/test/helpers/test-app.ts
  src/test/helpers/test-storage.ts
  src/test/integration/flow-integration.test.ts
Owners: @run-center-team, @devops-engineer, @monitoring-team, @qa-team, @e2e-team, @test-engineer

fix: 🏆 最终胜利！彻底解决所有 CI 错误
  package.json
  src/test/helpers/test-server.ts
Owners: @tech-lead, @qa-team, @test-engineer

fix: refactor flow renderer for fast refresh
  src/flow/__tests__/module.test.tsx
  src/flow/index.ts
  src/flow/renderFlow.tsx
  src/flow/utils.ts
Owners: @flow-team, @frontend-engineer, @ux-designer

chore: format codebase
  src/flow/FlowCanvas.ts
  src/nodes/NodePage.tsx
  src/planner/blueprintToDag.ts
  src/planner/types.ts
  src/run-center/RunCenter.tsx
  src/run-center/RunCenterService.ts
  src/run-center/index.ts
  src/run-center/types.ts
  src/shared/__tests__/module.test.ts
  src/shared/index.ts
  src/test/helpers/test-app.ts
  src/test/helpers/test-server.ts
  src/test/helpers/test-storage.ts
  src/test/integration/flow-integration.test.ts
  src/utils/logger.ts
  tsconfig.build.json
Owners: @flow-team, @frontend-engineer, @ux-designer, @nodes-team, @backend-engineer, @planner-team, @algorithm-engineer, @run-center-team, @devops-engineer, @monitoring-team, @qa-team, @shared-team, @tech-lead, @test-engineer, @senior-architect

fix(flow): 分离渲染组件类型并精简E2E测试
  src/flow/renderFlow.tsx
  src/flow/renderFlow.types.ts
  src/test/e2e/user-workflow.e2e.test.ts
  src/test/helpers/test-app.ts
Owners: @flow-team, @frontend-engineer, @ux-designer, @qa-team, @e2e-team, @test-engineer

fix: 稳定测试并引入 fake-indexeddb
  package-lock.json
  package.json
  src/run-center/__tests__/module.test.ts
  src/shared/__tests__/module.test.ts
  src/test/integration/flow-integration.test.ts
Owners: @build-team, @tech-lead, @qa-team

fix: align integration test config
  src/test/integration/flow.integration.test.ts
  vitest.integration.config.ts
Owners: @qa-team, @integration-team, @tech-lead

fix: enable vitest globals for e2e
  vitest.e2e.config.ts
Owners: @tech-lead, @qa-team

refactor: split flow components
  package.json
  scripts/test-coverage.mjs
  src/flow/FlowContainer.tsx
  src/flow/FlowStatusBar.tsx
  src/flow/FlowToolbar.tsx
  src/flow/RenderFlow.tsx
  src/flow/__tests__/module.test.tsx
  src/flow/index.ts
  src/flow/renderFlow.tsx
  src/flow/renderFlow.types.ts
Owners: @tech-lead, @senior-architect, @flow-team, @frontend-engineer, @ux-designer

feat(run-center): add run center page with logs and retry
  src/run-center/RunCenterPage.tsx
  src/run-center/__tests__/RunCenterPage.test.tsx
  src/run-center/index.ts
Owners: @run-center-team, @devops-engineer, @monitoring-team

feat(flow): support runtime status and error display
  src/flow/FlowCanvas.ts
  src/flow/RenderFlow.tsx
  src/flow/__tests__/module.test.tsx
  src/shared/types/node.ts
Owners: @flow-team, @frontend-engineer, @ux-designer, @shared-team, @type-system-expert

feat(run-center): add realtime run api
  src/run-center/RunCenterPage.tsx
  src/run-center/RunCenterService.ts
  src/run-center/__tests__/service.integration.test.ts
  src/run-center/index.ts
Owners: @run-center-team, @devops-engineer, @monitoring-team, @qa-team, @integration-team

feat(run-center): add run center page with logs and retry
  src/run-center/RunCenterPage.tsx
  src/run-center/__tests__/RunCenterPage.test.tsx
  src/run-center/index.ts
Owners: @run-center-team, @devops-engineer, @monitoring-team

fix(flow): 修复格式并消除测试警告
  src/flow/RenderFlow.tsx
  src/flow/__tests__/module.test.tsx
Owners: @flow-team, @frontend-engineer, @ux-designer

chore: format RunCenterPage
  src/run-center/RunCenterPage.tsx
Owners: @run-center-team, @devops-engineer, @monitoring-team

feat(planner): add DSL parser validation
  src/planner/__tests__/dslParser.test.ts
  src/planner/index.ts
  src/planner/parseDsl.ts
Owners: @qa-team, @planner-team, @algorithm-engineer

refactor: modularize flow editor components
  src/App.tsx
  src/components/EditorPanel.tsx
  src/components/FlowEditor.tsx
  src/components/PreviewRunner.tsx
  src/components/__tests__/EditorPanel.test.tsx
  src/components/__tests__/PreviewRunner.test.tsx
  src/components/nodes/InputNode.tsx
  src/components/nodes/OutputNode.tsx
  src/components/nodes/TransformNode.tsx
  src/components/nodes/__tests__/nodes.test.tsx
  src/components/nodes/index.ts
  src/utils/__tests__/safeCopy.test.ts
  src/utils/safeCopy.ts
Owners: @tech-lead, @senior-architect, @qa-team

feat(utils): add clipboard fallback and user prompts
  src/App.tsx
  src/utils/clipboard.test.ts
  src/utils/clipboard.ts
  src/utils/index.ts
Owners: @tech-lead, @senior-architect, @qa-team

test: add node runtime event tests
  src/flow/FlowCanvas.ts
  src/flow/__tests__/node-events.test.ts
  src/run-center/RunCenter.tsx
  src/shared/types/runtime.ts
Owners: @flow-team, @frontend-engineer, @ux-designer, @qa-team, @run-center-team, @devops-engineer, @monitoring-team, @shared-team, @type-system-expert

chore(run-center): format RunCenterService
  src/run-center/RunCenterService.ts
Owners: @run-center-team, @devops-engineer, @monitoring-team

fix: resolve App import conflict
  src/App.tsx
Owners: @tech-lead, @senior-architect

feat(utils): sandbox preview runner
  src/utils/index.ts
  src/utils/preview-runner.ts
  src/utils/preview-runner.worker.ts
Owners: @tech-lead, @senior-architect

fix(app): resolve merge conflict in App
  src/App.tsx
Owners: @tech-lead, @senior-architect

feat(run-center): add preview runner worker
  src/run-center/PreviewRunner.ts
  src/run-center/RunCenter.tsx
  src/run-center/index.ts
  src/run-center/preview-runner.worker.ts
Owners: @run-center-team, @devops-engineer, @monitoring-team

style: format RunCenter
  src/run-center/RunCenter.tsx
Owners: @run-center-team, @devops-engineer, @monitoring-team

fix: format RunCenter imports
  src/run-center/RunCenter.tsx
Owners: @run-center-team, @devops-engineer, @monitoring-team
