Repository chaojiget/superflow, changes with the owners that .github/CODEOWNERS names for each.
All owners: @tech-lead, @senior-architect, @devops-team, @qa-team, @documentation-team, @ideas-team, @product-manager, @planner-team, @algorithm-engineer, @flow-team, @frontend-engineer, @ux-designer, @nodes-team, @backend-engineer, @run-center-team, @devops-engineer, @monitoring-team, @shared-team, @type-system-expert, @database-engineer, @performance-engineer, @test-engineer, @integration-team, @e2e-team, @tech-writer, @build-team, @security-team, @runtime-team

fix: add observability types and tsconfig paths
  packages/@core/observability/package.json
  packages/@core/observability/src/index.ts
  packages/@core/observability/src/logger.ts
  packages/@core/observability/src/trace.ts
  tsconfig.json
Owners: @tech-lead, @senior-architect

fix: 避免 logger 适配器 lint 错误
  packages/@app/services/src/adapters/logger.ts
Owners: @tech-lead, @senior-architect

fix: 导出 ExecEvent 类型并修正 RunnerClient
  src/run-center/RunnerClient.ts
  src/shared/types/runtime.ts
Owners: @run-center-team, @devops-engineer, @monitoring-team, @shared-team, @type-system-expert

fix(observability): 可选字段避免显式 undefined
  packages/@core/observability/src/index.ts
  packages/@core/observability/src/logger.ts
  packages/@core/observability/src/trace.ts
  tsconfig.json
Owners: @tech-lead, @senior-architect

chore: add observability types
  packages/@core/observability/src/logger.ts
  packages/@core/observability/src/trace.ts
Owners: @tech-lead, @senior-architect

fix: 调整日志与追踪类型可选字段
  packages/@core/observability/src/index.ts
  packages/@core/observability/src/logger.ts
  packages/@core/observability/src/trace.ts
  packages/@core/observability/tsconfig.json
Owners: @tech-lead, @senior-architect

feat: 补充可观测性基础类型
  packages/@core/observability/package.json
  packages/@core/observability/src/index.ts
  packages/@core/observability/src/logger.ts
  packages/@core/observability/src/ndjson.ts
  packages/@core/observability/src/trace.ts
  tsconfig.json
Owners: @tech-lead, @senior-architect

feat(observability): relax optional fields
  packages/@core/observability/src/logger.ts
  packages/@core/observability/src/trace.ts
Owners: @tech-lead, @senior-architect

feat(run-center): 引入执行器 worker 与 RunnerClient (#90)
  src/run-center/RunnerClient.ts
  src/run-center/executor.worker.ts
  src/run-center/index.ts
  src/run-center/preview-runner.worker.ts
  src/shared/types/runtime.ts
Owners: @run-center-team, @devops-engineer, @monitoring-team, @shared-team, @type-system-expert

feat: 运行日志支持 runId 与 traceId (#88)
  src/run-center/RunCenterPage.tsx
  src/run-center/__tests__/RunCenterPage.test.tsx
  src/shared/db/__tests__/queries.test.ts
  src/shared/db/index.ts
  src/shared/index.ts
  src/utils/logger.ts
Owners: @run-center-team, @devops-engineer, @monitoring-team, @qa-team, @shared-team, @database-engineer, @tech-lead, @senior-architect

chore(integration): resolve leftover conflict markers and unify aliases
  package-lock.json
  package.json
  packages/@app/services/package.json
  packages/@app/services/src/commands/index.ts
  packages/@app/services/src/index.ts
  packages/@core/observability/package.json
  packages/@core/observability/src/index.ts
  packages/@core/observability/src/logger.ts
  packages/@core/observability/src/ndjson.ts
  packages/@core/observability/src/trace.ts
  packages/@data/src/index.ts
  packages/@embeds/wc/src/index.ts
  tsconfig.json
  vite.config.ts
  vitest.config.ts
  vitest.e2e.config.ts
  vitest.integration.config.ts
Owners: @build-team, @tech-lead, @senior-architect, @frontend-engineer, @qa-team

fix(types): satisfy strict TS after integration
  package-lock.json
  packages/@ai/orchestrator/src/index.ts
  packages/@app/services/src/RunCenterService.ts
  packages/@core/observability/src/logger.ts
  packages/@core/observability/src/trace.ts
  packages/@core/src/index.ts
  src/flow/FlowCanvas.ts
  src/ideas/nodeGeneration.ts
  src/shared/db/index.ts
  src/shared/types/runtime.ts
  tsconfig.json
Owners: @build-team, @tech-lead, @senior-architect, @flow-team, @frontend-engineer, @ux-designer, @ideas-team, @product-manager, @shared-team, @database-engineer, @type-system-expert

chore: finalize integration fixes (log fields, aliases)
  packages/@app/services/src/RunCenterService.ts
  packages/@data/src/index.ts
  src/run-center/RunCenter.tsx
  src/shared/types/runtime.ts
  vitest.config.ts
Owners: @tech-lead, @senior-architect, @run-center-team, @devops-engineer, @monitoring-team, @shared-team, @type-system-expert, @qa-team

style: run prettier to satisfy CI (format:check)
  docs/adr/0002-layered-packages.md
  packages/@ai/orchestrator/src/index.ts
  packages/@app/services/src/RunCenterService.ts
  packages/@core/observability/src/logger.ts
  packages/@core/runtime/runnerClient.ts
  packages/@data/src/index.ts
  src/flow/FlowCanvas.ts
  src/run-center/RunnerClient.ts
  src/run-center/__tests__/RunCenterPage.test.tsx
  src/run-center/executor.worker.ts
  src/shared/db/__tests__/queries.test.ts
  src/shared/schema.ts
  vitest.config.ts
Owners: @documentation-team, @tech-writer, @tech-lead, @senior-architect, @flow-team, @frontend-engineer, @ux-designer, @run-center-team, @devops-engineer, @monitoring-team, @qa-team, @shared-team

test(ci): add @ai/orchestrator alias to integration/e2e vitest configs
  vitest.e2e.config.ts
  vitest.integration.config.ts
Owners: @tech-lead, @qa-team

style: format vitest integration/e2e configs to satisfy CI
  vitest.e2e.config.ts
  vitest.integration.config.ts
Owners: @tech-lead, @qa-team

chore(ci): fix package.json and add depcruiser config; adjust ESLint/CI minor changes
  .github/workflows/ci.yml
  configs/depcruiser/.dependency-cruiser.cjs
  eslint.config.js
  package.json
  packages/@app/services/src/RunCenterService.ts
Owners: @security-team, @devops-team, @tech-lead, @senior-architect

test: 避免重复 polyfill IndexedDB——移除 adapter 中的 fake-indexeddb/auto 引用，改由测试环境统一注入
  packages/@app/services/src/adapters/dexie.ts
Owners: @tech-lead, @senior-architect

ci: 修复 CI 失败\n\n- 将 fake-indexeddb/auto 统一移至测试环境注入，移除各测试文件与 adapter 中的重复导入\n- 补交 Prettier 对 depcruiser 配置的格式化，修复 format:check 失败
  configs/depcruiser/.dependency-cruiser.cjs
  src/run-center/__tests__/RunCenterPage.test.tsx
  src/run-center/__tests__/reconnect.integration.test.ts
  src/run-center/__tests__/service.integration.test.ts
  src/shared/__tests__/module.test.ts
  src/test/integration/flow.integration.test.ts
Owners: @tech-lead, @senior-architect, @run-center-team, @devops-engineer, @monitoring-team, @qa-team, @integration-team

chore(depcruise): 修正 dot reporter 配置，并移除跨层引用文件以通过依赖边界检查\n\n- theme 改为对象，兼容 depcruiser v16 校验\n- 删除 @ai/orchestrator/planner 的 src 引用，避免 packages 依赖 src
  configs/depcruiser/.dependency-cruiser.cjs
Owners: @tech-lead, @senior-architect

test: 使用 fake-indexeddb/auto 统一 polyfill，并移除手写 mock，避免超时与行为偏差
  src/test/setup.ts
Owners: @qa-team, @test-engineer

ci(depcruise): 修正多输出语法，使用 --output-type err --output-type html:dist/depcruise.html 以避免读取错误
  package.json
Owners: @tech-lead

ci(depcruise): 简化为仅输出 err，移除 html 报告以确保 CI 稳定通过
  package.json
Owners: @tech-lead

fix(depcruise): 移除跨层引用文件 packages/@ai/orchestrator/src/planner.ts（误留），确保依赖边界检查通过
  packages/@ai/orchestrator/src/planner.ts
Owners: @tech-lead, @senior-architect

feat: 抽象应用服务层
  configs/depcruiser/.dependency-cruiser.cjs
  package.json
  packages/@ai/orchestrator/src/planner.ts
  packages/@app/services/src/adapters/dexie.ts
  packages/@app/services/src/index.ts
  src/run-center/__tests__/RunCenterPage.test.tsx
  src/run-center/__tests__/reconnect.integration.test.ts
  src/run-center/__tests__/service.integration.test.ts
  src/shared/__tests__/module.test.ts
  src/test/integration/flow.integration.test.ts
  src/test/setup.ts
Owners: @tech-lead, @senior-architect, @run-center-team, @devops-engineer, @monitoring-team, @qa-team, @integration-team, @test-engineer

fix(pr #99): 采用 nested 完整实现替换顶层占位，并移除重复 nested 文件；修复服务文件冲突标记
  packages/@app/services/src/RunCenterService.ts
  src/flow/FlowCanvas.ts
  src/flow/FlowContainer.tsx
  src/flow/FlowStatusBar.tsx
  src/flow/FlowToolbar.tsx
  src/flow/RenderFlow.tsx
  src/flow/executor.ts
  src/flow/renderFlow.types.ts
  src/flow/src/FlowCanvas.ts
  src/flow/src/FlowContainer.tsx
  src/flow/src/FlowStatusBar.tsx
  src/flow/src/FlowToolbar.tsx
  src/flow/src/RenderFlow.tsx
  src/flow/src/executor.ts
  src/flow/src/renderFlow.types.ts
  src/flow/src/types.ts
  src/flow/src/utils.ts
  src/flow/types.ts
  src/flow/utils.ts
  src/ideas/analysis.ts
  src/ideas/nodeGeneration.ts
  src/ideas/src/analysis.ts
  src/ideas/src/nodeGeneration.ts
  src/ideas/src/types.ts
  src/ideas/types.ts
  src/nodes/NodePage.tsx
  src/nodes/src/NodePage.tsx
  src/nodes/src/types.ts
  src/nodes/types.ts
  src/run-center/RunCenterClient.ts
  src/run-center/src/PreviewRunner.ts
  src/run-center/src/RunCenter.tsx
  src/run-center/src/RunCenterPage.tsx
  src/run-center/src/preview-runner.worker.ts
Owners: @tech-lead, @senior-architect, @flow-team, @frontend-engineer, @ux-designer, @ideas-team, @product-manager, @nodes-team, @backend-engineer, @run-center-team, @devops-engineer, @monitoring-team

fix(run-center): add getMetrics/getFlowMetrics/streamLogs; fix utils imports and stabilize tests
  src/flow/FlowCanvas.ts
  src/nodes/NodePage.tsx
  src/run-center/RunCenter.tsx
Owners: @flow-team, @frontend-engineer, @ux-designer, @nodes-team, @backend-engineer, @run-center-team, @devops-engineer, @monitoring-team

docs(agents): 更新 P0 进度标注（虚拟化已完成；JSON Schema/TS 类型已落地；OTel 关联待接入）
  AGENTS.md
Owners: @tech-lead, @senior-architect

feat(studio): 引入轻量版 Studio 页面（Graph + Console），对接 RunCenter；切换 App 入口至 Studio；补充 @ai/orchestrator 别名以通过构建
  src/App.tsx
  src/studio/StudioPage.tsx
  vite.config.ts
Owners: @tech-lead, @senior-architect, @build-team, @frontend-engineer

feat(nodes): 为自定义节点添加 React Flow 句柄，修复连接警告；更新相关测试以使用 ReactFlowProvider 并补齐 mock Handle/Position
  src/components/__tests__/FlowEditor.test.tsx
  src/components/nodes/__tests__/nodes.test.tsx
  src/components/nodes/src/InputNode.tsx
  src/components/nodes/src/OutputNode.tsx
  src/components/nodes/src/TransformNode.tsx
Owners: @tech-lead, @senior-architect

feat(studio): Console 点击日志可聚焦到画布节点；FlowEditor 暴露 focusNode/autoLayout 能力并加入‘自动布局’按钮
  src/components/src/FlowEditor.tsx
  src/run-center/RunCenterPage.tsx
  src/studio/StudioPage.tsx
Owners: @tech-lead, @senior-architect, @run-center-team, @devops-engineer, @monitoring-team

feat(layout): 启用 ELK layered 方向 RIGHT；FlowEditor 的‘自动布局’按钮直接调用布局并 fitView
  src/components/src/FlowEditor.tsx
  src/flow/utils.ts
Owners: @tech-lead, @senior-architect, @flow-team, @frontend-engineer, @ux-designer

feat(studio): 引入 WorkflowStudio 主页面（模拟版布局：DAG+Inspector+运行区）；接入 ELK 自动布局与节点句柄；Inspector 双向联动（入/出参、超时、重试、缓存键、CPU/内存/环境）；添加 ui/shims 以便运行 docs 模拟布局
  .github/pull_request_template.md
  AGENTS.md
  docs/adr/0003-重构.md
  docs/工作流编排_studio（模拟页面）.jsx
  src/App.tsx
  src/components/ui/badge.tsx
  src/components/ui/button.tsx
  src/components/ui/card.tsx
  src/components/ui/checkbox.tsx
  src/components/ui/input.tsx
  src/components/ui/label.tsx
  src/components/ui/scroll-area.tsx
  src/components/ui/select.tsx
  src/components/ui/separator.tsx
  src/components/ui/switch.tsx
  src/components/ui/tabs.tsx
  src/components/ui/textarea.tsx
  src/flow/src/FlowCanvas.ts
  src/flow/src/RenderFlow.tsx
  src/ideas/index.ts
  src/ideas/src/analysis.ts
  src/ideas/src/nodeGeneration.ts
  src/ideas/src/types.ts
  src/nodes/__tests__/module.test.ts
  src/nodes/src/NodePage.tsx
  src/planner/types.ts
  src/run-center/PreviewRunner.ts
  src/run-center/RunCenterClient.ts
  src/run-center/preview-runner.worker.ts
  src/run-center/src/RunCenterService.ts
  src/shared/runtime/index.ts
  src/shims/diff-viewer.tsx
  src/shims/lucide-react.tsx
  src/shims/monaco.tsx
  src/shims/resizable-panels.tsx
  src/studio/WorkflowStudio.tsx
  tsconfig.json
  vite.config.ts
Owners: @tech-lead, @devops-team, @senior-architect, @documentation-team, @tech-writer, @flow-team, @frontend-engineer, @ux-designer, @ideas-team, @product-manager, @qa-team, @nodes-team, @backend-engineer, @planner-team, @algorithm-engineer, @run-center-team, @devops-engineer, @monitoring-team, @shared-team, @performance-engineer, @build-team

chore(projects): add workflow_dispatch seeder to create issues from CSV
  .github/workflows/seed-issues.yml
Owners: @security-team, @devops-team

feat(studio): 直接替换为完整工作流模拟模板
  src/App.tsx
  src/studio/StudioPageSimple.tsx
Owners: @tech-lead, @senior-architect

chore: 重构任务管理和项目文档结构
  .github/workflows/seed-issues.yml
  AGENTS.md
  CLAUDE.md
  TODO.md
  package-lock.json
  package.json
  scripts/projects/README.md
  scripts/projects/bodies/epic-data.md
  scripts/projects/bodies/epic-flow-canvas.md
  scripts/projects/bodies/epic-run-center.md
  scripts/projects/bodies/epic-services.md
  scripts/projects/bodies/feature-command-palette.md
  scripts/projects/bodies/feature-data-retention.md
  scripts/projects/bodies/feature-data-schema.md
  scripts/projects/bodies/feature-flow-collapsible-groups.md
  scripts/projects/bodies/feature-inspector-outputs-compat.md
  scripts/projects/bodies/feature-migration-batch-rules.md
  scripts/projects/bodies/feature-run-trace-clickable.md
  scripts/projects/bodies/feature-run-trace-ids.md
  scripts/projects/bodies/feature-runtime-sandbox.md
  scripts/projects/bodies/feature-services-startRun.md
  scripts/projects/bodies/feature-v1-e2e-scenario.md
  scripts/projects/check-progress.sh
  scripts/projects/create-issues.sh
  scripts/projects/generate-todo-with-refs.py
  scripts/projects/gh-seed.sh
  scripts/projects/issues-complete.csv
  scripts/projects/issues.csv
  scripts/projects/project-fields.md
  scripts/projects/quick-github-sync.sh
  scripts/projects/sync-github-from-agents.sh
  src/studio/StudioPage.tsx
  src/studio/StudioPage.tsx.backup
Owners: @security-team, @devops-team, @tech-lead, @senior-architect, @documentation-team, @build-team

chore: 添加文档构建与渲染测试
  .github/workflows/ci.yml
  package.json
  scripts/build-docs.mjs
  src/__tests__/App.test.tsx
  src/__tests__/__snapshots__/App.test.tsx.snap
Owners: @security-team, @devops-team, @tech-lead, @senior-architect

docs: 新增 Studio 页面使用指南
  docs/README.md
Owners: @documentation-team, @tech-writer

feat: 使用设计系统组件
  src/components/ui/badge.tsx
  src/components/ui/button.tsx
  src/components/ui/card.tsx
  src/components/ui/input.tsx
  src/components/ui/scroll-area.tsx
  src/components/ui/select.tsx
  src/components/ui/tabs.tsx
  src/run-center/RunCenterPage.tsx
Owners: @tech-lead, @senior-architect, @run-center-team, @devops-engineer, @monitoring-team

chore: 添加格式忽略与 mock 数据
  .prettierignore
  src/App.tsx
  src/studio/StudioPage.tsx
  src/studio/StudioPageSimple.tsx
  src/studio/WorkflowStudio.tsx
  src/studio/mock-data.ts
Owners: @tech-lead, @senior-architect

.github/CODEOWNERS:

# CODEOWNERS 文件定义了每个模块的代码所有者
# 当 PR 修改这些路径时，相应的团队成员将自动被请求进行代码审查

# 全局所有者（架构和核心决策）
* @tech-lead @senior-architect

# 根目录配置文件
/.github/ @tech-lead @devops-team
/package.json @tech-lead
/tsconfig*.json @tech-lead
/vite.config.ts @tech-lead
/vitest*.config.ts @tech-lead @qa-team
/CLAUDE.md @tech-lead @documentation-team

# 想法模块 (Ideas) - 负责需求分析和蓝图生成
/src/ideas/ @ideas-team @product-manager
/docs/flow-component.md @ideas-team @documentation-team

# 规划模块 (Planner) - 负责DAG规划和拓扑排序
/src/planner/ @planner-team @algorithm-engineer
/docs/ci-cd.md @planner-team @devops-team

# 流程模块 (Flow) - 负责React Flow集成和可视化
/src/flow/ @flow-team @frontend-engineer @ux-designer

# 节点模块 (Nodes) - 负责节点定义和调试
/src/nodes/ @nodes-team @backend-engineer
/docs/node-page.md @nodes-team @documentation-team

# 运行中心 (Run Center) - 负责执行和监控
/src/run-center/ @run-center-team @devops-engineer @monitoring-team

# 共享模块 (Shared) - 负责通用工具和类型
/src/shared/ @shared-team @tech-lead
/src/shared/types/ @shared-team @type-system-expert
/src/shared/db/ @shared-team @database-engineer
/src/shared/runtime/ @shared-team @performance-engineer

# 测试相关
/src/test/ @qa-team @test-engineer
/src/**/*.test.ts @qa-team
/src/**/*.integration.test.ts @qa-team @integration-team
/src/**/*.e2e.test.ts @qa-team @e2e-team

# 文档
/docs/ @documentation-team @tech-writer
/README.md @documentation-team @tech-lead

# 构建和部署
/vite.config.ts @build-team @frontend-engineer
/package-lock.json @build-team

# 安全敏感文件
/.github/workflows/ @security-team @devops-team
/src/shared/runtime/worker.ts @security-team @runtime-team
