Repository chaojiget/superflow, changes with the owners that .github/CODEOWNERS names for each.
All owners: @tech-lead, @senior-architect, @devops-team, @qa-team, @documentation-team, @ideas-team, @product-manager, @planner-team, @algorithm-engineer, @flow-team, @frontend-engineer, @ux-designer, @nodes-team, @backend-engineer, @run-center-team, @devops-engineer, @monitoring-team, @shared-team, @type-system-expert, @database-engineer, @performance-engineer, @test-engineer, @integration-team, @e2e-team, @tech-writer, @build-team, @security-team, @runtime-team

chore: 格式化重连集成测试
  src/run-center/__tests__/reconnect.integration.test.ts
Owners: @qa-team, @integration-team

style: format blueprint modules
  src/ideas/analysis.ts
  src/ideas/generateBlueprint.ts
  src/ideas/nodeGeneration.ts
Owners: @ideas-team, @product-manager

feat: RunCenterClient 支持 WebSocket 重连与状态回调 (#80)
  src/run-center/RunCenterClient.ts
  src/run-center/__tests__/reconnect.integration.test.ts
Owners: @run-center-team, @devops-engineer, @monitoring-team, @qa-team, @integration-team

chore: 修复 FlowCanvas 与 largeDag 的格式
  src/flow/FlowCanvas.ts
  src/test/largeDag.ts
Owners: @flow-team, @frontend-engineer, @ux-designer, @qa-team, @test-engineer

feat: 合并线性链节点 (#76)
  src/planner/__tests__/mergeNodes.test.ts
  src/planner/blueprintToDag.ts
Owners: @qa-team, @planner-team, @algorithm-engineer

refactor: modularize blueprint generation (#77)
  src/ideas/IdeasPage.tsx
  src/ideas/__tests__/analysis.test.ts
  src/ideas/__tests__/nodeGeneration.test.ts
  src/ideas/__tests__/validation.test.ts
  src/ideas/analysis.ts
  src/ideas/generateBlueprint.ts
  src/ideas/index.ts
  src/ideas/nodeGeneration.ts
  src/ideas/types.ts
  src/ideas/validation.ts
Owners: @ideas-team, @product-manager, @qa-team

refactor(flow): 抽离执行逻辑并修复合并冲突
  src/flow/FlowCanvas.ts
  src/flow/executor.ts
Owners: @flow-team, @frontend-engineer, @ux-designer

Merge branch 'main' into work
  src/utils/__tests__/math.test.ts
  src/utils/clipboard.test.ts
  src/utils/clipboard.ts
Owners: @qa-team, @tech-lead, @senior-architect

feat: 初步接入 orchestrator
  packages/@ai/orchestrator/package.json
  packages/@ai/orchestrator/src/index.ts
  packages/@ai/orchestrator/src/planner.ts
  packages/@ai/orchestrator/src/repairer.ts
  packages/@app/services/package.json
  packages/@app/services/src/commands/applyPatch.ts
  packages/@app/services/src/commands/index.ts
  packages/@app/services/src/index.ts
Owners: @tech-lead, @senior-architect

feat: 添加 workflow web components 与 demo
  apps/embeds-demo/index.html
  apps/embeds-demo/src/index.ts
  packages/@embeds/wc/package.json
  packages/@embeds/wc/src/index.ts
  packages/@embeds/wc/src/workflow-flow.ts
  packages/@embeds/wc/src/workflow-node.ts
Owners: @tech-lead, @senior-architect

feat: 引入 Ajv 以 JSON Schema 校验运行输入输出
  package-lock.json
  package.json
  packages/@core/domain/schemas/exec-request.schema.json
  packages/@core/domain/schemas/exec-result.schema.json
  packages/@core/domain/types.ts
  packages/@core/runtime/__tests__/executor.test.ts
  packages/@core/runtime/index.ts
  tsconfig.json
  vitest.config.ts
Owners: @build-team, @tech-lead, @senior-architect, @qa-team

chore: 添加事件日志迁移脚本
  scripts/migrate-events.ts
  src/shared/__tests__/module.test.ts
  src/shared/db/index.ts
  src/shared/types/storage.ts
  src/test/helpers/test-storage.ts
Owners: @tech-lead, @senior-architect, @qa-team, @shared-team, @database-engineer, @type-system-expert, @test-engineer

feat: support structured logs and export
  src/flow/FlowCanvas.ts
  src/run-center/RunCenter.tsx
  src/run-center/RunCenterService.ts
  src/run-center/__tests__/RunCenterPage.test.tsx
  src/run-center/__tests__/module.test.ts
  src/run-center/__tests__/reconnect.integration.test.ts
  src/run-center/__tests__/service.integration.test.ts
  src/run-center/types.ts
  src/shared/db/index.ts
Owners: @flow-team, @frontend-engineer, @ux-designer, @run-center-team, @devops-engineer, @monitoring-team, @qa-team, @integration-team, @shared-team, @database-engineer

feat: 添加 workflow-node 嵌入组件及示例文档
  docs/EMBED_WORKFLOW_NODE.md
  src/embeds/workflow-node.ts
Owners: @documentation-team, @tech-writer, @tech-lead, @senior-architect

feat(observability): 新增 Dexie 日志与 NDJSON 导出
  packages/@core/observability/src/logger.ts
  packages/@core/observability/src/ndjson.ts
  packages/@core/observability/src/trace.ts
Owners: @tech-lead, @senior-architect

feat: 运行日志支持 runId 与 traceId
  src/run-center/RunCenterPage.tsx
  src/run-center/__tests__/RunCenterPage.test.tsx
  src/shared/db/__tests__/queries.test.ts
  src/shared/db/index.ts
  src/shared/index.ts
  src/utils/logger.ts
Owners: @run-center-team, @devops-engineer, @monitoring-team, @qa-team, @shared-team, @database-engineer, @tech-lead, @senior-architect

feat: add schema manager
  package-lock.json
  package.json
  src/nodes/NodePage.tsx
  src/nodes/__tests__/module.test.ts
  src/shared/index.ts
  src/shared/schema.ts
Owners: @build-team, @tech-lead, @nodes-team, @backend-engineer, @qa-team, @shared-team

feat(run-center): 引入执行器 worker 与 RunnerClient
  src/run-center/RunnerClient.ts
  src/run-center/executor.worker.ts
  src/run-center/index.ts
  src/run-center/preview-runner.worker.ts
Owners: @run-center-team, @devops-engineer, @monitoring-team

feat(runtime): add capability controls and worker timeout
  src/shared/runtime/capabilities.ts
  src/shared/runtime/index.ts
  src/shared/runtime/worker.ts
  src/shared/types/__tests__/serialization.test.ts
  src/shared/types/runtime.ts
Owners: @shared-team, @performance-engineer, @security-team, @runtime-team, @qa-team, @type-system-expert

feat: 初始化分层目录与服务门面
  apps/embeds-demo/package.json
  apps/embeds-demo/src/index.ts
  apps/studio/package.json
  apps/studio/src/main.ts
  eslint.config.js
  package-lock.json
  package.json
  packages/@app/services/package.json
  packages/@app/services/src/commands/index.ts
  packages/@app/services/src/index.ts
  packages/@app/services/src/queries/index.ts
  packages/@core/domain/package.json
  packages/@core/domain/src/index.ts
  packages/@core/protocol/package.json
  packages/@core/protocol/src/index.ts
  packages/@core/runtime/package.json
  packages/@core/runtime/src/index.ts
  packages/@data/store/package.json
  packages/@data/store/src/index.ts
  packages/@embeds/wc/package.json
  packages/@embeds/wc/src/index.ts
Owners: @tech-lead, @senior-architect, @build-team

feat: 将运行中心数据持久化到 Dexie
  src/run-center/RunCenter.tsx
  src/run-center/RunCenterService.ts
  src/run-center/__tests__/RunCenterPage.test.tsx
  src/run-center/__tests__/reconnect.integration.test.ts
  src/run-center/__tests__/service.integration.test.ts
  src/run-center/types.ts
  src/shared/db/index.ts
Owners: @run-center-team, @devops-engineer, @monitoring-team, @qa-team, @integration-team, @shared-team, @database-engineer

feat: 新增 workflow 嵌入元素与跨域通信
  embeds/workflow-flow.ts
  embeds/workflow-node.ts
Owners: @tech-lead, @senior-architect

feat: 抽象应用服务层
  packages/@app/services/package.json
  packages/@app/services/src/adapters/dexie.ts
  packages/@app/services/src/adapters/logger.ts
  packages/@app/services/src/adapters/worker.ts
  packages/@app/services/src/commands/startRun.ts
  packages/@app/services/src/index.ts
  packages/@app/services/src/ports/log.ts
  packages/@app/services/src/ports/runtime.ts
  packages/@app/services/src/ports/storage.ts
  packages/@app/services/src/queries/getRun.ts
  src/run-center/RunCenter.tsx
  tsconfig.json
  vite.config.ts
  vitest.config.ts
  vitest.e2e.config.ts
  vitest.integration.config.ts
Owners: @tech-lead, @senior-architect, @run-center-team, @devops-engineer, @monitoring-team, @build-team, @frontend-engineer, @qa-team

feat: 抽象应用服务层
  packages/@app/services/package.json
  packages/@app/services/src/adapters/dexie.ts
  packages/@app/services/src/adapters/logger.ts
  packages/@app/services/src/adapters/worker.ts
  packages/@app/services/src/commands/startRun.ts
  packages/@app/services/src/index.ts
  packages/@app/services/src/ports/log.ts
  packages/@app/services/src/ports/runtime.ts
  packages/@app/services/src/ports/storage.ts
  packages/@app/services/src/queries/getRun.ts
  src/run-center/RunCenter.tsx
  tsconfig.json
  vite.config.ts
  vitest.config.ts
  vitest.e2e.config.ts
  vitest.integration.config.ts
Owners: @tech-lead, @senior-architect, @run-center-team, @devops-engineer, @monitoring-team, @build-team, @frontend-engineer, @qa-team

feat: 引入 Ajv 以 JSON Schema 校验运行输入输出 (#83)
  package-lock.json
  package.json
  packages/@core/domain/schemas/exec-request.schema.json
  packages/@core/domain/schemas/exec-result.schema.json
  packages/@core/domain/types.ts
  packages/@core/runtime/__tests__/executor.test.ts
  packages/@core/runtime/index.ts
  tsconfig.json
  vitest.config.ts
Owners: @build-team, @tech-lead, @senior-architect, @qa-team

feat(observability): 新增 Dexie 日志与 NDJSON 导出 (#87)
  packages/@core/observability/src/logger.ts
  packages/@core/observability/src/ndjson.ts
  packages/@core/observability/src/trace.ts
Owners: @tech-lead, @senior-architect

feat: 新增 workflow 嵌入元素与跨域通信 (#94)
  embeds/workflow-flow.ts
  embeds/workflow-node.ts
Owners: @tech-lead, @senior-architect

feat: 增加执行协议及运行时/执行器实现
  packages/@core/protocol/src/index.ts
  packages/@core/runtime/runnerClient.ts
  packages/@workers/executor/src/capabilities.ts
  packages/@workers/executor/src/worker.ts
Owners: @tech-lead, @senior-architect

feat: 添加 workflow-node 嵌入组件及示例文档 (#86)
  docs/EMBED_WORKFLOW_NODE.md
  src/embeds/workflow-node.ts
Owners: @documentation-team, @tech-writer, @tech-lead, @senior-architect

fix: 格式化 applyPatch 命令
  packages/@app/services/src/commands/applyPatch.ts
Owners: @tech-lead, @senior-architect

feat: 引入核心分层基础包
  docs/CI_AND_COLLABORATION_SETUP.md
  docs/DEVELOPMENT_GUIDE.md
  docs/adr/0002-layered-packages.md
  packages/@app/services/package.json
  packages/@app/services/src/RunCenterService.ts
  packages/@app/services/src/index.ts
  packages/@core/package.json
  packages/@core/src/__tests__/serialization.test.ts
  packages/@core/src/base.ts
  packages/@core/src/error.ts
  packages/@core/src/flow.ts
  packages/@core/src/index.ts
  packages/@core/src/node.ts
  packages/@core/src/run.ts
  packages/@core/src/runtime.ts
  packages/@core/src/storage.ts
  packages/@data/package.json
  packages/@data/src/index.ts
  src/flow/FlowCanvas.ts
  src/flow/types.ts
  src/ideas/analysis.ts
  src/ideas/nodeGeneration.ts
  src/ideas/types.ts
  src/nodes/types.ts
  src/planner/types.ts
  src/run-center/RunCenter.tsx
  src/run-center/__tests__/RunCenterPage.test.tsx
  src/run-center/__tests__/reconnect.integration.test.ts
  src/run-center/__tests__/service.integration.test.ts
  src/run-center/index.ts
  src/shared/__tests__/module.test.ts
  src/shared/index.ts
  src/test/helpers/test-flow.ts
  src/test/helpers/test-storage.ts
  src/test/integration/flow.integration.test.ts
  tsconfig.json
  vite.config.ts
  vitest.config.ts
  vitest.e2e.config.ts
  vitest.integration.config.ts
Owners: @documentation-team, @tech-writer, @tech-lead, @senior-architect, @flow-team, @frontend-engineer, @ux-designer, @ideas-team, @product-manager, @nodes-team, @backend-engineer, @planner-team, @algorithm-engineer, @run-center-team, @devops-engineer, @monitoring-team, @qa-team, @integration-team, @shared-team, @test-engineer, @build-team

chore: 格式化 embeds 相关文件
  apps/embeds-demo/index.html
  apps/embeds-demo/src/index.ts
  packages/@embeds/wc/src/workflow-flow.ts
  packages/@embeds/wc/src/workflow-node.ts
Owners: @tech-lead, @senior-architect

chore: format eslint config
  eslint.config.js
Owners: @tech-lead, @senior-architect

fix: add chainId and optional fields for logs
  src/flow/FlowCanvas.ts
  src/run-center/RunCenterService.ts
  src/run-center/__tests__/RunCenterPage.test.tsx
  src/run-center/__tests__/service.integration.test.ts
Owners: @flow-team, @frontend-engineer, @ux-designer, @run-center-team, @devops-engineer, @monitoring-team, @qa-team, @integration-team

fix: 调整可选字段类型
  packages/@core/observability/src/logger.ts
  packages/@core/observability/src/trace.ts
Owners: @tech-lead, @senior-architect

fix: 补充节点执行失败日志上下文
  src/nodes/NodePage.tsx
Owners: @nodes-team, @backend-engineer

chore(runtime): format worker
  src/shared/runtime/worker.ts
Owners: @security-team, @runtime-team

chore: 格式化事件迁移脚本
  scripts/migrate-events.ts
Owners: @tech-lead, @senior-architect

test: 修复类型检查错误
  src/run-center/__tests__/RunCenterPage.test.tsx
  src/shared/db/__tests__/queries.test.ts
Owners: @run-center-team, @devops-engineer, @monitoring-team, @qa-team

fix: 调整运行记录类型并修复缺失链路ID
  src/run-center/RunCenter.tsx
  src/run-center/RunCenterService.ts
  src/shared/db/index.ts
Owners: @run-center-team, @devops-engineer, @monitoring-team, @shared-team, @database-engineer

.github/CODEOWNERS:

# CODEOWNERS 文件定义了每个模块的代码所有者
# 当 PR 修改这些路径时，相应的团队成员将自动被请求进行代码审查

# 全局所有者（架构和核心决策）
* @tech-lead @senior-architect

# 根目录配置文件
/.github/ @tech-lead @devops-team
/package.json @tech-lead
/tsconfig*.json @tech-lead
/vite.config.ts @tech-lead
/vitest*.config.ts @tech-lead @qa-team
/CLAUDE.md @tech-lead @documentation-team

# 想法模块 (Ideas) - 负责需求分析和蓝图生成
/src/ideas/ @ideas-team @product-manager
/docs/flow-component.md @ideas-team @documentation-team

# 规划模块 (Planner) - 负责DAG规划和拓扑排序
/src/planner/ @planner-team @algorithm-engineer
/docs/ci-cd.md @planner-team @devops-team

# 流程模块 (Flow) - 负责React Flow集成和可视化
/src/flow/ @flow-team @frontend-engineer @ux-designer

# 节点模块 (Nodes) - 负责节点定义和调试
/src/nodes/ @nodes-team @backend-engineer
/docs/node-page.md @nodes-team @documentation-team

# 运行中心 (Run Center) - 负责执行和监控
/src/run-center/ @run-center-team @devops-engineer @monitoring-team

# 共享模块 (Shared) - 负责通用工具和类型
/src/shared/ @shared-team @tech-lead
/src/shared/types/ @shared-team @type-system-expert
/src/shared/db/ @shared-team @database-engineer
/src/shared/runtime/ @shared-team @performance-engineer

# 测试相关
/src/test/ @qa-team @test-engineer
/src/**/*.test.ts @qa-team
/src/**/*.integration.test.ts @qa-team @integration-team
/src/**/*.e2e.test.ts @qa-team @e2e-team

# 文档
/docs/ @documentation-team @tech-writer
/README.md @documentation-team @tech-lead

# 构建和部署
/vite.config.ts @build-team @frontend-engineer
/package-lock.json @build-team

# 安全敏感文件
/.github/workflows/ @security-team @devops-team
/src/shared/runtime/worker.ts @security-team @runtime-team
