Repository chaojiget/superflow, changes with the owners that .github/CODEOWNERS names for each.
All owners: @tech-lead, @senior-architect, @devops-team, @qa-team, @documentation-team, @ideas-team, @product-manager, @planner-team, @algorithm-engineer, @flow-team, @frontend-engineer, @ux-designer, @nodes-team, @backend-engineer, @run-center-team, @devops-engineer, @monitoring-team, @shared-team, @type-system-expert, @database-engineer, @performance-engineer, @test-engineer, @integration-team, @e2e-team, @tech-writer, @build-team, @security-team, @runtime-team

Merge pr-44 with manual resolution: extend error/runtime; keep storage layout; add serialization test
  src/shared/types/__tests__/serialization.test.ts
Owners: @qa-team

Merge pr-49 with manual resolution: keep React RunCenterPage; add RunCenterClient; enhance RunCenterService
  src/run-center/RunCenterClient.ts
Owners: @run-center-team, @devops-engineer, @monitoring-team

Pre-merge enhancements: add RunCenterClient; extend RunCenterService; add FlowCanvas event hooks; extend error/runtime; add clipboard utils; update App
  src/App.tsx
  src/run-center/RunCenter.tsx
  src/run-center/RunCenterService.ts
  src/run-center/__tests__/service.integration.test.ts
  src/shared/types/runtime.ts
  src/utils/clipboard.ts
  src/utils/index.ts
Owners: @tech-lead, @senior-architect, @run-center-team, @devops-engineer, @monitoring-team, @qa-team, @integration-team, @shared-team, @type-system-expert

docs: 添加可观察性与 Trace 复选框
  AGENTS.md
Owners: @tech-lead, @senior-architect

docs: 添加版本与分支说明
  AGENTS.md
Owners: @tech-lead, @senior-architect

docs: 添加强类型与校验任务
  AGENTS.md
Owners: @tech-lead, @senior-architect

docs: 添加迁移向导进阶条目
  AGENTS.md
Owners: @tech-lead, @senior-architect

docs: 添加大图性能与可操作性任务
  AGENTS.md
Owners: @tech-lead, @senior-architect

docs: add console integration todo
  AGENTS.md
Owners: @tech-lead, @senior-architect

fix(tests): resolve leftover merge markers; unify runtime types; prefer RunCenterClient; finalize clipboard util
  src/run-center/RunCenter.tsx
  src/run-center/RunCenterService.ts
  src/run-center/__tests__/service.integration.test.ts
  src/shared/types/__tests__/serialization.test.ts
  src/shared/types/runtime.ts
  src/utils/clipboard.ts
Owners: @run-center-team, @devops-engineer, @monitoring-team, @qa-team, @integration-team, @shared-team, @type-system-expert, @tech-lead, @senior-architect

删除AGENTAS.md并新增AGENTS.md
  AGENTAS.md
  AGENTS.md
Owners: @tech-lead, @senior-architect

删除AGENTAS.md并新增AGENTS.md
  AGENTAS.md
  AGENTS.md
Owners: @tech-lead, @senior-architect

chore(cleanup): dedupe RunCenter event methods; resolve TS warnings import; build + type-check green
  AGENTS.md
  AGENTS.pdf
  src/flow/FlowCanvas.ts
  src/run-center/RunCenter.tsx
  src/shared/types/error.ts
  src/shared/types/runtime.ts
Owners: @tech-lead, @senior-architect, @flow-team, @frontend-engineer, @ux-designer, @run-center-team, @devops-engineer, @monitoring-team, @shared-team, @type-system-expert

chore(ci): fix Prettier formatting to satisfy format:check
  AGENTS.md
  AGENTS.pdf
  src/run-center/RunCenter.tsx
  src/run-center/RunCenterClient.ts
Owners: @tech-lead, @senior-architect, @run-center-team, @devops-engineer, @monitoring-team

feat(run-center): add preview runner worker
  src/run-center/PreviewRunner.ts
  src/run-center/RunCenter.tsx
  src/run-center/index.ts
  src/run-center/preview-runner.worker.ts
Owners: @run-center-team, @devops-engineer, @monitoring-team

chore(deps-dev): align vitest 3.x peer deps (@vitest/coverage-v8, @vitest/ui) and update lockfile
  package-lock.json
  package.json
Owners: @build-team, @tech-lead

fix(run-center): resolve leftover conflict markers and integrate PreviewRunner message
  src/run-center/RunCenter.tsx
Owners: @run-center-team, @devops-engineer, @monitoring-team

fix(types): cast PreviewRunner callback to unknown[] to satisfy TS type check
  src/run-center/RunCenter.tsx
Owners: @run-center-team, @devops-engineer, @monitoring-team

style: format with Prettier
  src/components/PreviewRunner.tsx
  src/flow/FlowCanvas.ts
  src/flow/__tests__/module.test.tsx
  src/run-center/RunCenter.tsx
Owners: @tech-lead, @senior-architect, @flow-team, @frontend-engineer, @ux-designer, @run-center-team, @devops-engineer, @monitoring-team

test(flow): fix ReactFlow mock types and optional props to satisfy exactOptionalPropertyTypes
  src/flow/__tests__/module.test.tsx
Owners: @flow-team, @frontend-engineer, @ux-designer

test: 添加 math 工具函数测试
  src/utils/__tests__/math.test.ts
Owners: @qa-team

test: enhance run center page
  package.json
  src/run-center/__tests__/RunCenterPage.test.tsx
Owners: @tech-lead, @run-center-team, @devops-engineer, @monitoring-team

feat: 兼容无 DOM 环境的复制逻辑
  src/utils/clipboard.test.ts
  src/utils/clipboard.ts
Owners: @qa-team, @tech-lead, @senior-architect

feat: 兼容无 DOM 环境的复制逻辑 (#73)
  src/utils/clipboard.test.ts
  src/utils/clipboard.ts
Owners: @qa-team, @tech-lead, @senior-architect

test: 添加 math 工具函数测试 (#71)
  src/utils/__tests__/math.test.ts
Owners: @qa-team

feat: 统一日志工具并禁止直接使用console
  eslint.config.js
  src/flow/FlowCanvas.ts
  src/nodes/NodePage.tsx
  src/run-center/RunCenter.tsx
  src/shared/runtime/worker.ts
  src/shared/utils/index.ts
  src/utils/logger.ts
Owners: @tech-lead, @senior-architect, @flow-team, @frontend-engineer, @ux-designer, @nodes-team, @backend-engineer, @run-center-team, @devops-engineer, @monitoring-team, @security-team, @runtime-team, @shared-team

test: add FlowEditor integration
  src/components/__tests__/FlowEditor.test.tsx
Owners: @tech-lead, @senior-architect

test: 验证合并线性链
  src/planner/__tests__/mergeNodes.test.ts
  src/planner/blueprintToDag.ts
Owners: @qa-team, @planner-team, @algorithm-engineer

style: format RunCenterPage tests
  src/run-center/__tests__/RunCenterPage.test.tsx
Owners: @run-center-team, @devops-engineer, @monitoring-team

refactor: split idea blueprint modules
  src/ideas/IdeasPage.tsx
  src/ideas/__tests__/analysis.test.ts
  src/ideas/__tests__/nodeGeneration.test.ts
  src/ideas/__tests__/validation.test.ts
  src/ideas/analysis.ts
  src/ideas/generateBlueprint.ts
  src/ideas/index.ts
  src/ideas/nodeGeneration.ts
  src/ideas/types.ts
  src/ideas/validation.ts
Owners: @ideas-team, @product-manager, @qa-team

test: 增强 RunCenterPage 交互测试 (#72)
  package.json
  src/run-center/__tests__/RunCenterPage.test.tsx
Owners: @tech-lead, @run-center-team, @devops-engineer, @monitoring-team

test(flow): 添加大型DAG虚拟化测试
  package-lock.json
  package.json
  src/flow/FlowCanvas.ts
  src/flow/FlowContainer.tsx
  src/flow/RenderFlow.tsx
  src/flow/__tests__/virtualization.test.ts
  src/flow/renderFlow.types.ts
  src/flow/utils.ts
  src/test/largeDag.ts
Owners: @build-team, @tech-lead, @flow-team, @frontend-engineer, @ux-designer, @qa-team, @test-engineer

重构流程执行逻辑并补充测试
  src/flow/FlowCanvas.ts
  src/flow/__tests__/execute.test.ts
  src/flow/executor.ts
Owners: @flow-team, @frontend-engineer, @ux-designer, @qa-team

chore: format files
  src/nodes/NodePage.tsx
  src/run-center/RunCenter.tsx
Owners: @nodes-team, @backend-engineer, @run-center-team, @devops-engineer, @monitoring-team

重构流程执行逻辑并补充测试 (#79)
  src/flow/FlowCanvas.ts
  src/flow/__tests__/execute.test.ts
  src/flow/executor.ts
Owners: @flow-team, @frontend-engineer, @ux-designer, @qa-team

feat: 统一日志工具并禁止直接使用console (#74)
  eslint.config.js
  src/flow/FlowCanvas.ts
  src/nodes/NodePage.tsx
  src/run-center/RunCenter.tsx
  src/shared/runtime/worker.ts
  src/shared/utils/index.ts
  src/utils/logger.ts
Owners: @tech-lead, @senior-architect, @flow-team, @frontend-engineer, @ux-designer, @nodes-team, @backend-engineer, @run-center-team, @devops-engineer, @monitoring-team, @security-team, @runtime-team, @shared-team

test(run-center): 覆盖重连与错误处理
  src/run-center/RunCenterClient.ts
  src/run-center/__tests__/reconnect.integration.test.ts
Owners: @run-center-team, @devops-engineer, @monitoring-team, @qa-team, @integration-team

style: format FlowEditor test
  src/components/__tests__/FlowEditor.test.tsx
Owners: @tech-lead, @senior-architect

test: add FlowEditor integration (#75)
  src/components/__tests__/FlowEditor.test.tsx
Owners: @tech-lead, @senior-architect

style: 格式化 blueprintToDag
  src/planner/blueprintToDag.ts
Owners: @planner-team, @algorithm-engineer

.github/CODEOWNERS:

# CODEOWNERS 文件定义了每个模块的代码所有者
# 当 PR 修改这些路径时，相应的团队成员将自动被请求进行代码审查

# 全局所有者（架构和核心决策）
* @tech-lead @senior-architect

# 根目录配置文件
/.github/ @tech-lead @devops-team
/package.json @tech-lead
/tsconfig*.json @tech-lead
/vite.config.ts @tech-lead
/vitest*.config.ts @tech-lead @qa-team
/CLAUDE.md @tech-lead @documentation-team

# 想法模块 (Ideas) - 负责需求分析和蓝图生成
/src/ideas/ @ideas-team @product-manager
/docs/flow-component.md @ideas-team @documentation-team

# 规划模块 (Planner) - 负责DAG规划和拓扑排序
/src/planner/ @planner-team @algorithm-engineer
/docs/ci-cd.md @planner-team @devops-team

# 流程模块 (Flow) - 负责React Flow集成和可视化
/src/flow/ @flow-team @frontend-engineer @ux-designer

# 节点模块 (Nodes) - 负责节点定义和调试
/src/nodes/ @nodes-team @backend-engineer
/docs/node-page.md @nodes-team @documentation-team

# 运行中心 (Run Center) - 负责执行和监控
/src/run-center/ @run-center-team @devops-engineer @monitoring-team

# 共享模块 (Shared) - 负责通用工具和类型
/src/shared/ @shared-team @tech-lead
/src/shared/types/ @shared-team @type-system-expert
/src/shared/db/ @shared-team @database-engineer
/src/shared/runtime/ @shared-team @performance-engineer

# 测试相关
/src/test/ @qa-team @test-engineer
/src/**/*.test.ts @qa-team
/src/**/*.integration.test.ts @qa-team @integration-team
/src/**/*.e2e.test.ts @qa-team @e2e-team

# 文档
/docs/ @documentation-team @tech-writer
/README.md @documentation-team @tech-lead

# 构建和部署
/vite.config.ts @build-team @frontend-engineer
/package-lock.json @build-team

# 安全敏感文件
/.github/workflows/ @security-team @devops-team
/src/shared/runtime/worker.ts @security-team @runtime-team
